@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <hr class="my-4" />

    <h2>Artículos Management</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-controller="Articulos" asp-action="Index" class="btn btn-primary btn-lg">Ver Artículos</a>
        <a asp-controller="Articulos" asp-action="Create" class="btn btn-success btn-lg">Crear Nuevo Artículo</a>
    </div>
</div>
